* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  background-color: #efefef;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  margin-block: 2em;
}

.searchPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
}

label:not(:last-child) {
  margin-right: 1rem;
}

.msg {
  width: 100%;
  display: block;
  text-align: center;
  background: red;
  font-size: 56px;
}

.errText {
  display: block;
  text-align: center;
  font-size: 48px;
}

.link {
  display: block;
  font-size: 30px;
  text-align: center;
}

.col12 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer {
  padding-top: 0;
}

/* card */
.card {
  border-radius: 12px;
  margin: 0;
  box-shadow: none;
  & .card-content {
    padding: 12px 24px 12px 24px;
  }
}

.card-image {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
